body {
	background: url('../img/bg.png');
	background-size: cover;
	background-attachment: fixed;
	font-family:'Open Sans',Sans-serif, Arial, Helvetica;
	align-items: center;

}
.proyectos {
	border-radius: 50px;
	border:black solid 2px;
	text-align: center;
	opacity: 0.50;
	height: 30%;
	width: 30%;
	box-shadow: 0 0 0 1px darkblue;
	margin-left: 500px;
}
.proyectos:hover {
	opacity: inherit;
	height: 80%;
	width: 80%;
	margin-left: 150px;
	background-color: rgba(100, 0, 0, 0.5);


	}
	.proyectos2 {
		border-radius: 50px;
		border:black solid 2px;
		text-align: center;
		opacity: 0.50;
		height: 30%;
		width: 30%;
		box-shadow: 0 0 0 1px darkblue;
		margin-left: 500px;

	}
	.proyectos2:hover {
		opacity: inherit;
		height: 80%;
		width: 80%;
		margin-left: 150px;
		background-color: rgba(100, 0, 0, 0.5);

		}
		.titulo{
			text-align: center;
			text-decoration: underline;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			color: #26499E;		
}
.marcaPersonal{
    background-color :#74ACDF	; 
text-align: center;

}
.marcaPersonal >  a > h4 {
    background-color: white;

}
.marca{
    background-color :#74ACDF	; 
border: 1px solid #74ACDF;
}
